%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{ href: "#" } Navbar
    %button.navbar-toggler{ type: "button", data: { bs_toggle: "collapse", bs_target: "#navbarSupportedContent" } }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.me-auto.mb-2.mb-lg-2
        %li.nav-item
          %a.nav-link.active Home
        %li.nav-item
          %a.nav-link{ href: "#" } Services
        %li.nav-item
          %a.nav-link{ href: "#" } About Us
        %li.nav-item
          %a.nav-link{ href: "#" } Contact Us

